<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.games_tip_and_trick">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tipso"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.TopicDetails.TopicDetailsActivity"></activity>
        <activity android:name=".ui.TopicsLists.TopicsListsActivity" />
        <activity android:name=".ui.Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Main.MainActivity" />

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="https://parseapi.back4app.com" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="eOEjbpaURbjAtgURKzDRkJcbUEa96Jy5x3roYz5Z" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="ITT1gk03ZBZ9ELvkNjHZ3QZDTqIrYhn1bRiYdcZx" />
    </application>

</manifest>